html{
    font-family: arial;
}

#image{
    height: auto;
    max-width: 100%;
}

.letter{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    padding: 20px;
}

.index-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secretWord{
    display: flex;
    align-items: center;
    font-size: 200%;
    letter-spacing: 5px;
    padding-top: 30%;
}